<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="bg-white">
    <!--
      Mobile menu
  
      Off-canvas menu for mobile, show/hide based on off-canvas menu state.
    -->
    <div class="relative z-40 lg:hidden" role="dialog" aria-modal="true">
      <!--
        Off-canvas menu backdrop, show/hide based on off-canvas menu state.
  
        Entering: "transition-opacity ease-linear duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "transition-opacity ease-linear duration-300"
          From: "opacity-100"
          To: "opacity-0"
      -->
      <div id="mobile-menu-overlay" class="fixed inset-0 bg-black bg-opacity-25 hidden"></div>
  
      <mobile-menu class="fixed inset-0 z-40 hidden">
        <!--
          Off-canvas menu, show/hide based on off-canvas menu state.
  
          Entering: "transition ease-in-out duration-300 transform"
            From: "-translate-x-full"
            To: "translate-x-0"
          Leaving: "transition ease-in-out duration-300 transform"
            From: "translate-x-0"
            To: "-translate-x-full"
        -->
        <div class="relative max-w-xs w-full bg-white shadow-xl pb-12 flex flex-col overflow-y-auto">
          <div class="px-4 pt-5 pb-2 flex">
            <button type="button" class="-m-2 p-2 rounded-md inline-flex items-center justify-center text-gray-400">
              <span class="sr-only">Close menu</span>
              <!-- Heroicon name: outline/x -->
              <svg id="mobile-menu-button-close" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
  
          <!-- Links -->
          <div class="mt-2">
         
  
            <!-- 'Women' tab panel, show/hide based on tab state. -->
            <div id="tabs-1-panel-1" class="pt-10 pb-8 px-4 space-y-10" aria-labelledby="tabs-1-tab-1" role="tabpanel" tabindex="0">
              <div class="grid grid-cols-2 gap-x-4">
                {% if section.settings.meganav_image_one != blank %}

                <div class="group relative text-sm">
                  <div class="aspect-w-1 aspect-h-1 rounded-lg bg-gray-100 overflow-hidden group-hover:opacity-75">
                    <img
                      srcset="{%- if section.settings.meganav_image_one.width >= 375 -%}{{ section.settings.meganav_image_one | img_url: '375x' }} 375w,{%- endif -%}
                        {%- if section.settings.meganav_image_one.width >= 750 -%}{{ section.settings.meganav_image_one | img_url: '750x' }} 750w,{%- endif -%}
                        {%- if section.settings.meganav_image_one.width >= 1100 -%}{{ section.settings.meganav_image_one | img_url: '1100x' }} 1100w,{%- endif -%}
                        {%- if section.settings.meganav_image_one.width >= 1500 -%}{{ section.settings.meganav_image_one | img_url: '1500x' }} 1500w,{%- endif -%}
                        {%- if section.settings.meganav_image_one.width >= 1780 -%}{{ section.settings.meganav_image_one | img_url: '1780x' }} 1780w,{%- endif -%}
                        {%- if section.settings.meganav_image_one.width >= 2000 -%}{{ section.settings.meganav_image_one | img_url: '2000x' }} 2000w,{%- endif -%}
                        {%- if section.settings.meganav_image_one.width >= 3000 -%}{{ section.settings.meganav_image_one | img_url: '3000x' }} 3000w,{%- endif -%}
                        {%- if section.settings.meganav_image_one.width >= 3840 -%}{{ section.settings.meganav_image_one | img_url: '3840x' }} 3840w,{%- endif -%}
                        {{ section.settings.meganav_image_one | img_url: 'master' }} {{ section.settings.meganav_image_one.width }}w"
                      sizes="100vw"
                      src="{{ section.settings._image_one | img_url: '500x' }}"
                      loading="lazy"
                      class="object-center object-cover"
                      alt="{{ section.settings._image_one.alt | escape }}"
                      width="{{ section.settings._image_one.width }}"
                      height="{{ section.settings._image_one.width | divided_by: section.settings._image_one.aspect_ratio }}"
                    >                  
                  </div>
                    <a href="{{ section.settings.meganav_image_one_button_link }}" class="mt-6 block font-medium text-gray-900">
                      <span class="absolute z-10 inset-0" aria-hidden="true"></span>
                      {{ section.settings.meganav_image_one_button_label }}
                    </a>
                  <p aria-hidden="true" class="mt-1">Shop now</p>
                </div>
                {% endif %}

               

              {% if section.settings.meganav_image_two != blank %}
                <div class="group relative text-sm">
                  <div class="aspect-w-1 aspect-h-1 rounded-lg bg-gray-100 overflow-hidden group-hover:opacity-75">
                    <img
                    srcset="{%- if section.settings.meganav_image_two.width >= 375 -%}{{ section.settings.meganav_image_two | img_url: '375x' }} 375w,{%- endif -%}
                      {%- if section.settings.meganav_image_two.width >= 750 -%}{{ section.settings.meganav_image_two | img_url: '750x' }} 750w,{%- endif -%}
                      {%- if section.settings.meganav_image_two.width >= 1100 -%}{{ section.settings.meganav_image_two | img_url: '1100x' }} 1100w,{%- endif -%}
                      {%- if section.settings.meganav_image_two.width >= 1500 -%}{{ section.settings.meganav_image_two | img_url: '1500x' }} 1500w,{%- endif -%}
                      {%- if section.settings.meganav_image_two.width >= 1780 -%}{{ section.settings.meganav_image_two | img_url: '1780x' }} 1780w,{%- endif -%}
                      {%- if section.settings.meganav_image_two.width >= 2000 -%}{{ section.settings.meganav_image_two | img_url: '2000x' }} 2000w,{%- endif -%}
                      {%- if section.settings.meganav_image_two.width >= 3000 -%}{{ section.settings.meganav_image_two | img_url: '3000x' }} 3000w,{%- endif -%}
                      {%- if section.settings.meganav_image_two.width >= 3840 -%}{{ section.settings.meganav_image_two | img_url: '3840x' }} 3840w,{%- endif -%}
                      {{ section.settings.meganav_image_two | img_url: 'master' }} {{ section.settings.meganav_image_two.width }}w"
                    sizes="100vw"
                    src="{{ section.settings.image_two | img_url: '500x' }}"
                    loading="lazy"
                    class="object-center object-cover"
                    alt="{{ section.settings.image_two.alt | escape }}"
                    width="{{ section.settings.image_two.width }}"
                    height="{{ section.settings.image_two.width | divided_by: section.settings.image_two.aspect_ratio }}"
                  >
                  </div>
                  <a href="{{ section.settings.meganav_image_two_button_link }}" class="mt-6 block font-medium text-gray-900">
                    <span class="absolute z-10 inset-0" aria-hidden="true"></span>
                    {{ section.settings.meganav_image_two_button_label }}
                  </a>
                  <p aria-hidden="true" class="mt-1">Shop now</p>
                </div>
                {% endif %}
              </div>
              {% for link in linklists['main-menu'].links %}
              {% if link.links != blank %}
              <div>
                <p id="women-clothing-heading-mobile" class="font-medium text-gray-900">{{ link.title }}</p>
                
                <ul role="list" aria-labelledby="women-clothing-heading-mobile" class="mt-6 flex flex-col space-y-6">
                {% for childlink in link.links %}
                  <li class="flow-root">
                    <a href="{{ childlink.url }}" class="-m-2 p-2 block text-gray-500">{{ childlink.title }}</a>
                  </li>
                {% endfor %}
  
                </ul>
              </div>
              {% else %}
                <a href="{{ link.url }}" class="-m-2 p-2 block font-medium text-gray-900">{{ link.title }}</a>
              {% endif %}
              {% endfor %}

    
            </div>
  
          </div>
  
          <div class="border-t border-gray-200 py-6 px-4 space-y-6">
            <div class="flow-root">
              <a href="#" class="-m-2 p-2 block font-medium text-gray-900">Sign in</a>
            </div>
            <div class="flow-root">
              <a href="#" class="-m-2 p-2 block font-medium text-gray-900">Create account</a>
            </div>
          </div>
  
    
        </div>
      </mobile-menu>
    </div>
  
    <header class="relative bg-gray-900">
  
      <nav aria-label="Top" class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <main-header>
        <div class="border-b border-gray-200">
          <div class="h-16 flex items-center">
            <!-- Mobile menu toggle, controls the 'mobileMenuOpen' state. -->
            <button id="mobile-menu-button" type="button" class="bg-white p-2 rounded-md text-gray-400 lg:hidden">
              <span class="sr-only">Open menu</span>
              <!-- Heroicon name: outline/menu -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
            </button>
  
            <!-- Logo -->
            <div class="ml-4 flex lg:ml-0">
              <a href="{{shop.url}}">
                <span class="sr-only">Workflow</span>
                {%- if section.settings.logo != blank -%}
                {%- assign logo_alt = section.settings.logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio -%}
                {{ section.settings.logo | image_url: width: section.settings.width | image_tag:
                  class: 'h-8 w-auto',
                  widths: '50, 100, 150, 200, 250, 300, 400, 500',
                  height: logo_height,
                  width: section.settings.logo_width,
                  alt: logo_alt
                }}
                {% endif %}
              </a>
            </div>
  
            <!-- Flyout menus -->
            <div class="hidden lg:ml-8 lg:block lg:self-stretch">
              <div class="h-full flex space-x-8">
                {% for link in linklists['main-menu'].links %}
                {% if link.links != blank %}
                <div class="flex">
                  <div class="relative flex">
                    <!-- Item active: "border-indigo-600 text-indigo-600", Item inactive: "border-transparent text-gray-700 hover:text-gray-800" -->
                    <button id="meganav-heading" type="button" class="border-transparent text-white hover:text-gray-100 relative z-10 flex items-center transition-colors ease-out duration-200 text-sm font-medium border-b-2 -mb-px pt-px" meganav_heading_index="{{forloop.index}}">{{ link.title }}{% render 'icon-caret' %}</button>
                  </div>
  
                  <!--
                    'Women' flyout menu, show/hide based on flyout menu state.
  
                    Entering: "transition ease-out duration-200"
                      From: "opacity-0"
                      To: "opacity-100"
                    Leaving: "transition ease-in duration-150"
                      From: "opacity-100"
                      To: "opacity-0"
                  -->
                  <div class="absolute top-full inset-x-0 text-sm text-gray-500 hidden" meganav_index="{{forloop.index}}">
                    <div class="absolute inset-0 top-1/2 bg-white shadow" aria-hidden="true"></div>
  
                    <div class="relative bg-white">
                      <div class="max-w-7xl mx-auto px-8">
                        <div class="grid grid-cols-2 gap-y-10 gap-x-8 py-16">
                          <div class="col-start-2 grid grid-cols-2 gap-x-8">
                            {% if section.settings.meganav_image_one != blank %}
                            <div class="group relative text-base sm:text-sm">
                              <div class="aspect-w-1 aspect-h-1 rounded-lg bg-gray-100 overflow-hidden group-hover:opacity-75">
                                <img
                                srcset="{%- if section.settings.meganav_image_one.width >= 375 -%}{{ section.settings.meganav_image_one | img_url: '375x' }} 375w,{%- endif -%}
                                  {%- if section.settings.meganav_image_one.width >= 750 -%}{{ section.settings.meganav_image_one | img_url: '750x' }} 750w,{%- endif -%}
                                  {%- if section.settings.meganav_image_one.width >= 1100 -%}{{ section.settings.meganav_image_one | img_url: '1100x' }} 1100w,{%- endif -%}
                                  {%- if section.settings.meganav_image_one.width >= 1500 -%}{{ section.settings.meganav_image_one | img_url: '1500x' }} 1500w,{%- endif -%}
                                  {%- if section.settings.meganav_image_one.width >= 1780 -%}{{ section.settings.meganav_image_one | img_url: '1780x' }} 1780w,{%- endif -%}
                                  {%- if section.settings.meganav_image_one.width >= 2000 -%}{{ section.settings.meganav_image_one | img_url: '2000x' }} 2000w,{%- endif -%}
                                  {%- if section.settings.meganav_image_one.width >= 3000 -%}{{ section.settings.meganav_image_one | img_url: '3000x' }} 3000w,{%- endif -%}
                                  {%- if section.settings.meganav_image_one.width >= 3840 -%}{{ section.settings.meganav_image_one | img_url: '3840x' }} 3840w,{%- endif -%}
                                  {{ section.settings.meganav_image_one | img_url: 'master' }} {{ section.settings.meganav_image_one.width }}w"
                                sizes="100vw"
                                src="{{ section.settings._image_one | img_url: '500x' }}"
                                loading="lazy"
                                class="object-center object-cover"
                                alt="{{ section.settings._image_one.alt | escape }}"
                                width="{{ section.settings._image_one.width }}"
                                height="{{ section.settings._image_one.width | divided_by: section.settings._image_one.aspect_ratio }}"
                              >
                              
                              </div>
                              <a href="{{ section.settings.meganav_image_one_button_link }}" class="mt-6 block font-medium text-gray-900">
                                <span class="absolute z-10 inset-0" aria-hidden="true"></span>
                                {{ section.settings.meganav_image_one_button_label }}
                              </a>
                              <p aria-hidden="true" class="mt-1">Shop now</p>
                            </div>
                            {% endif %}

                            {% if section.settings.meganav_image_two != blank %}
                            <div class="group relative text-base sm:text-sm">
                              <div class="aspect-w-1 aspect-h-1 rounded-lg bg-gray-100 overflow-hidden group-hover:opacity-75">
                                <img
                                srcset="{%- if section.settings.meganav_image_two.width >= 375 -%}{{ section.settings.meganav_image_two | img_url: '375x' }} 375w,{%- endif -%}
                                  {%- if section.settings.meganav_image_two.width >= 750 -%}{{ section.settings.meganav_image_two | img_url: '750x' }} 750w,{%- endif -%}
                                  {%- if section.settings.meganav_image_two.width >= 1100 -%}{{ section.settings.meganav_image_two | img_url: '1100x' }} 1100w,{%- endif -%}
                                  {%- if section.settings.meganav_image_two.width >= 1500 -%}{{ section.settings.meganav_image_two | img_url: '1500x' }} 1500w,{%- endif -%}
                                  {%- if section.settings.meganav_image_two.width >= 1780 -%}{{ section.settings.meganav_image_two | img_url: '1780x' }} 1780w,{%- endif -%}
                                  {%- if section.settings.meganav_image_two.width >= 2000 -%}{{ section.settings.meganav_image_two | img_url: '2000x' }} 2000w,{%- endif -%}
                                  {%- if section.settings.meganav_image_two.width >= 3000 -%}{{ section.settings.meganav_image_two | img_url: '3000x' }} 3000w,{%- endif -%}
                                  {%- if section.settings.meganav_image_two.width >= 3840 -%}{{ section.settings.meganav_image_two | img_url: '3840x' }} 3840w,{%- endif -%}
                                  {{ section.settings.meganav_image_two | img_url: 'master' }} {{ section.settings.meganav_image_two.width }}w"
                                sizes="100vw"
                                src="{{ section.settings.image_two | img_url: '500x' }}"
                                loading="lazy"
                                class="object-center object-cover"
                                alt="{{ section.settings.image_two.alt | escape }}"
                                width="{{ section.settings.image_two.width }}"
                                height="{{ section.settings.image_two.width | divided_by: section.settings.image_two.aspect_ratio }}"
                              >
                              </div>
                              <a href="{{ section.settings.meganav_image_two_button_link }}" class="mt-6 block font-medium text-gray-900">
                                <span class="absolute z-10 inset-0" aria-hidden="true"></span>
                                {{ section.settings.meganav_image_two_button_label }}
                              </a>
                              <p aria-hidden="true" class="mt-1">Shop now</p>
                            </div>
                            {% endif %}
                          </div>
                          <div class="row-start-1 grid grid-cols-3 gap-y-10 gap-x-8 text-sm">

                            {% for childlink in link.links %}

                            <div>
                              <p class="font-medium text-gray-900">{{ childlink.title }}</p>
                              {% if childlink.links != blank %}
                              <ul role="list" aria-labelledby="Clothing-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                                {% for grandchildlink in childlink.links %}
                                <li class="flex">
                                  <a href="{{ grandchildlink.url }}" class="hover:text-gray-800">{{ grandchildlink.title }}</a>
                                </li>
                                {% endfor %}
                            
                              </ul>
                              {% endif %}
                            </div>


                            {% endfor %}
  
                 
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
  
                {% else %}
                <a href="{{ link.url }}" class="flex items-center text-sm font-medium text-white hover:text-gray-100">{{ link.title }}</a>

                {% endif %}
                {% endfor %}
              </div>
            </div>
  
            <div class="ml-auto flex items-center">
              <div class="hidden lg:flex lg:flex-1 lg:items-center lg:justify-end lg:space-x-6">
                <a href="#" class="text-sm font-medium text-white hover:text-gray-100">Sign in</a>
                <span class="h-6 w-px bg-gray-200" aria-hidden="true"></span>
                <a href="#" class="text-sm font-medium text-white hover:text-gray-100">Create account</a>
              </div>
  
       
  
              <!-- Search -->
              <div class="flex lg:ml-6">
                <a href="#" class="p-2 text-gray-400 hover:text-gray-500">
                  <span class="sr-only">Search</span>
                  <!-- Heroicon name: outline/search -->
                  <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                  </svg>
                </a>
              </div>
  
              <!-- Cart -->
              <div class="ml-4 flow-root lg:ml-6">
                <a href="#" class="group -m-2 p-2 flex items-center">
                  <!-- Heroicon name: outline/shopping-bag -->
                  <svg class="flex-shrink-0 h-6 w-6 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
                  </svg>
                  <span class="ml-2 text-sm font-medium text-gray-700 group-hover:text-gray-800">0</span>
                  <span class="sr-only">items in cart, view bag</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        </main-header>
      </nav>
    </header>
  </div>


<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

{%- render 'cart-notification', color_scheme: section.settings.color_scheme -%}
  
  <script>
    class Header extends HTMLElement {
      constructor() {
        super();
        console.log('init');
      }
    
      connectedCallback() {
        this.addEventListener('mouseover', function(e){
          var targetName = e.target.id;
          var indexValue = e.target.getAttribute("meganav_heading_index");
          console.log(e);
          if (targetName) {
            this.querySelectorAll("[meganav_index]").forEach(element => {
              if (element.getAttribute("meganav_index") != indexValue) {
                element.style.display = "none";
              } else {
                element.style.display = "block";
              }
            })
          }
    
        });
        
    
        this.addEventListener('mouseleave', e => {
          this.querySelectorAll("[meganav_index]").forEach(element => {
                element.style.display = "none";
            });
        });
    
      }
    
      
    }
    
    customElements.define('main-header', Header);
    </script>
    

    
{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "image_picker",
      "id": "meganav_image_one",
      "label": "Meganav Image One"
    },
    {
      "type": "text",
      "id": "meganav_image_one_button_label",
      "default": "Button label",
      "label": "Meganav Image One Button Label"
    },
    {
      "type": "url",
      "id": "meganav_image_one_button_link",
      "label": "Meganav Image One Button Link"
    },
    {
      "type": "image_picker",
      "id": "meganav_image_two",
      "label": "Meganav Image Two"
    },
    {
      "type": "text",
      "id": "meganav_image_two_button_label",
      "default": "Button label",
      "label": "Meganav Image Two"
    },
    {
      "type": "url",
      "id": "meganav_image_two_button_link",
      "label": "Meganav Image Two"
    }
  ]
}
{% endschema %}
