

<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>


<!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->

    <form action="{{ routes.cart_url }}" id="cart">
      <cart-items aria-labelledby="cart-heading" id="main-cart-items" class="lg:col-span-7" data-id="{{ section.id }}">
        <h2 id="cart-heading" class="sr-only">Items in your shopping cart</h2>

        <ul role="list" class="js-contents border-t border-b border-gray-200 border-r-0 border-l-0 border-solid divide-y divide-gray-200">
       
          {%- for item in cart.items -%}
            <li class="cart-item flex py-6 sm:py-10" id="CartItem-{{ item.index | plus: 1 }}">
              <div class="flex-shrink-0">
                {% if item.image %}
                      {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                      <a href="{{ item.url }}" class="cart-item__link" aria-hidden="true" tabindex="-1"> </a>
                      <img class="cart-item__image w-24 h-24 rounded-md object-center object-cover sm:w-48 sm:h-48"
                        src="{{ item.image | img_url: '300x' }}"
                        alt="{{ item.image.alt | escape }}"
                        loading="lazy"
                        width="150"
                        height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                      >
                    {% endif %}
                    
              </div>

              <div class="ml-4 flex-1 flex flex-col justify-between sm:ml-6">
                <div class="relative pr-9 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:pr-0">
                  <div>
                    <div class="flex justify-between">
                      <h3 class="text-sm">
                        <a href="{{ item.product.url }}" class="font-medium text-gray-700 hover:text-gray-800">{{ item.product.title | escape }}</a>
                      </h3>
                    </div>
                    <div class="mt-1 flex flex-col text-sm">
                      {%- if item.product.has_only_default_variant == false -%}
                      {%- for option in item.options_with_values -%}
                        <div class="text-gray-500 flex mt-1">
                          <dt class="font-medium">{{ option.name }}: </dt>
                          <dd class="ml-1">{{ option.value }}</dd>
                        </div>
                      {%- endfor -%}
                    {%- endif -%}

                    </div>
                     <div class="cart-item__totals">
                      <div class="cart-item__price-wrapper mt-3">
                        {%- if item.original_line_price != item.final_line_price -%}
                          <div class="cart-item__discounted-prices text-sm font-medium text-gray-900">
                            <div class="visually-hidden">
                              {{ 'products.product.price.regular_price' | t }}
                            </div>
                            <div>
                              <s class="cart-item__old-price price price--end text-sm font-medium text-gray-900">
                                {{ item.original_line_price | money }}
                              </s>
                            </div>
                            <div class="visually-hidden">
                              {{ 'products.product.price.sale_price' | t }}
                            </div>
                            <div class="price price--end text-sm font-medium text-gray-900">
                              {{ item.final_line_price | money }}
                            </div>
                          </div>
                        {%- else -%}
                          <span class="price price--end mt-1 text-sm font-medium text-gray-900">
                            {{ item.original_line_price | money }}
                          </span>
                        {%- endif -%}
  
                        {%- if item.variant.available and item.unit_price_measurement -%}
                          <div class="unit-price caption">
                            <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                            {{ item.variant.unit_price | money }}
                            <span aria-hidden="true">/</span>
                            <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                            {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                              {{- item.variant.unit_price_measurement.reference_value -}}
                            {%- endif -%}
                            {{ item.variant.unit_price_measurement.reference_unit }}
                          </div>
                        {%- endif -%}
                      </div>
                      </div>
                  </div>

                  <div class="mt-4 sm:mt-0 sm:pr-9">
                    <label for="quantity-1" class="sr-only">Quantity,{{ item.product.title }}</label>
                    <quantity-input class="quantity">
                      <button class="quantity__button no-js-hidden" name="minus" type="button">
                        <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}</span>
                        {% render 'icon-minus' %}
                      </button>
                      <input class="quantity__input"
                        type="number"
                        name="updates[]"
                        value="{{ item.quantity }}"
                        min="0"
                        aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                        id="Quantity-{{ item.index | plus: 1 }}"
                        data-index="{{ item.index | plus: 1 }}"
                      >
                      <button class="quantity__button no-js-hidden" name="plus" type="button">
                        <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}</span>
                        {% render 'icon-plus' %}
                      </button>
                    </quantity-input>

                    <div class="absolute top-0 right-0">
                      <cart-remove-button id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                        <a href="{{ item.url_to_remove }}" class="-m-2 p-2 inline-flex text-gray-400 hover:text-gray-500" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                          </svg>
                        </a>
                        
                      </cart-remove-button>

                    
                    </div>
                  </div>
                </div>

                <p class="mt-4 flex text-sm text-gray-700 space-x-2 items-center">
                  <!-- Heroicon name: solid/clock -->
                  <svg class="flex-shrink-0 h-5 w-5 text-gray-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd" />
                  </svg>
                  <span>Ships in 3–4 weeks</span>
                </p>
              </div>
            </li>
          {% endfor %}

      
        </ul>
      </cart-items>

    
      
    <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
    <p class="visually-hidden" id="shopping-cart-line-item-status" aria-live="polite" aria-hidden="true" role="status">{{ 'accessibility.loading' | t }}</p>
    </form>
  

{% schema %}
{
  "name": "t:sections.main-cart-items.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-cart-items.settings.show_vendor.label"
    }
  ]
}
{% endschema %}
