

<!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-white">
  <body class="h-full">
  ```
-->
<div class="flex bg-gray-900">
    <div class="flex-1 flex flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
      <div class="mx-auto w-full max-w-sm lg:w-96">
        <div>
          <h2 class="mt-6 text-3xl font-extrabold text-white">Create Account</h2>
          <p class="mt-2 text-sm text-white">
            Or
            <a href="/account/login" class="font-medium text-white hover:text-lightPrimaryBlue"> Sign In </a>
          </p>
        </div>
  
        <div class="mt-8">
         
  
        <div>
         
  
    {%- form 'create_customer', novalidate: 'novalidate' -%}
      <div class="space-y-6">
        {%- if form.errors -%}
        <h2 class="text-error font-bold text-lg" tabindex="-1" autofocus>
          {{ 'templates.contact.form.error_heading' | t }}
        </h2>
        <ul> 
          {%- for field in form.errors -%}
            <li class="text-white">
              {%- if field == 'form' -%}
                {{ form.errors.messages[field] }}
              {%- else -%}
                <a href="#RegisterForm-{{ field }}" class="text-white">
                  {{ form.errors.translated_fields[field] | capitalize }}
                  {{ form.errors.messages[field] }}
                </a>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
   <div class="flex justify-between">
      <div>    
        <label for="RegisterForm-FirstName" class="block text-sm font-medium text-gray-100">
          {{ 'customer.register.first_name' | t }}
        </label>  
        <input
          type="text"
          name="customer[first_name]"
          id="RegisterForm-FirstName"
          class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          {% if form.first_name %}value="{{ form.first_name }}"{% endif %}
          autocomplete="given-name"
          placeholder="{{ 'customer.register.first_name' | t }}"
        >
        
      </div>
  
      <div>
        <label for="RegisterForm-LastName" class="block text-sm font-medium text-gray-100">
          {{ 'customer.register.last_name' | t }}
        </label>
        <input
          type="text"
          name="customer[last_name]"
          id="RegisterForm-LastName"
          {% if form.last_name %}value="{{ form.last_name }}"{% endif %}
          autocomplete="family-name"
          placeholder="{{ 'customer.register.last_name' | t }}"
          class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        >
        
      </div>
    </div>
      <div>   
        <label for="RegisterForm-email" class="block text-sm font-medium text-gray-100">
          {{ 'customer.register.email' | t }}
        </label>   
        <input
          class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          type="email"
          name="customer[email]"
          id="RegisterForm-email"
          {% if form.email %} value="{{ form.email }}"{% endif %}
          spellcheck="false"
          autocapitalize="off"
          autocomplete="email"
          aria-required="true"
          {% if form.errors contains 'email' %}
            aria-invalid="true"
            aria-describedby="RegisterForm-email-error"
          {% endif %}
          placeholder="{{ 'customer.register.email' | t }}"
        >
        
      </div>
      {%- if form.errors contains 'email' -%}
        <span id="RegisterForm-email-error" class="text-error font-bold text-lg">
          {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.
        </span>
      {%- endif -%}
      <div>
        <label for="RegisterForm-password" class="block text-sm font-medium text-gray-100">
          {{ 'customer.register.password' | t }}
        </label>  
        <input
          class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          type="password"
          name="customer[password]"
          id="RegisterForm-password"
          aria-required="true"
          {% if form.errors contains 'password' %}
            aria-invalid="true"
            aria-describedby="RegisterForm-password-error"
          {% endif %}
          placeholder="{{ 'customer.register.password' | t }}"
        >
        
      </div>
      {%- if form.errors contains 'password' -%}
        <span id="RegisterForm-password-error" class="text-error font-bold text-lg">
          {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.
        </span>
      {%- endif -%}
       
        
        <div>
          <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-lightPrimaryBlue hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Create</button>
        </div>
       
  
     
      </div>
      {%- endform -%}
  
  
          </div>
        </div>
      </div>
    </div>
    <div class="hidden lg:block relative w-0 flex-1">

    <img
    srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | img_url: '375x' }} 375w,{%- endif -%}
        {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
        {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
        {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
        {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
        {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
        {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}
        {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | img_url: '3840x' }} 3840w,{%- endif -%}
        {{ section.settings.image | img_url: 'master' }} {{ section.settings.image.width }}w"
        sizes="100vw"
        src="{{ section.settings.image | img_url: '1500x' }}"
        loading="lazy"
        class="absolute inset-0 h-full w-full object-cover"
        alt="{{ section.settings.image.alt | escape }}"
        width="{{ section.settings.image.width }}"
        height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}">


    </div>
  </div>

{% schema %}
{
 "name": "Register",
 "settings": [
  {
    "type": "image_picker",
    "id": "image",
    "label": "Image"
  }
 ]
}
{% endschema %}